<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <!--<add key="packageManagerWebAddress" value="http://dynamopackagemanager.com.s3-website-us-east-1.amazonaws.com"/>-->
  <add key="packageManagerWebAddress" value="http://localhost:5555"/>
  </appSettings>
</configuration>